BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AlignEscapedNewlines: Left
ReflowComments: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
FixNamespaceComments: false
NamespaceIndentation: None
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
